#NODE_ENV=test
.env
*.hprof
managed-jbake-context.yml
gradle-home.properties
build
.gradle
todo.adoc
.idea
.settings
.project
private
doc
local.properties
content/ignored
templates/code.txt
/site.code-workspace
bootstrap-3.3.7.zip
static-site-jbake
# books
.vscode
node_modules
.vs
navigator.zip